<section class='embergarten'>

  <h3>Are you interested in learning more about Ember.js?</h3>

  <p>I'll be teaching at <a href="http://unspace.ca/embergarten/">Embergarten</a> in Toronto
     on May 18 + 19. It's going to be a great way to learn and socialize with other awesome
     developers. You should consider coming!</p>

</section>