<section class='series'>
  <p>This article belongs to a series of tutorials about Ember.js and Discourse:</p>

  <ul>
    <li><a href="/2013/02/27/adding-to-discourse-part-1.html">Part One: Routes and Templates</a></li>
    <li><a href="/2013/03/17/adding-to-discourse-part-2.html">Part Two: Controllers</a></li>
    <li><a href="/2013/04/01/adding-to-discourse-part-3.html">Part Three: Custom Views</a></li>
  </ul>

  <br/>

  <p>You might want to also check out:</p>

  <ul>
  	<li><a href="/2013/03/23/ember-without-data.html">Ember without Ember Data</a></li>
  </ul>
</section>