
<% wrap_layout :layout do %>
  <article>
    <h1><%= current_page.title %></h1>
    <small><%= current_page.date.strftime('%b %e %Y') %></small>

    <div class='contents'>
      <%= yield %>
    </div>

    <div id="discourse-comments"></div>
    <script type="text/javascript">
      var discourseUrl = "http://localhost:3000/",
          discourseEmbedCode = '<%= current_page.date.to_s %>';

      (function() {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = discourseUrl + '/assets/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
      })();
    </script>
  </article>
<% end %>
